node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true

# 国内访问 GitHub Release 不稳，让 electron 与 electron-builder 走淘宝镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
